@import 'tailwindcss';

@font-face {
  font-family: "LINESeedKR";
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2');
  font-weight: 700;
}

@font-face {
  font-family: "LINESeedKR";
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2');
  font-weight: 400;
}

body {
  max-width: 480px;
  max-height: 320px;
  border: 1px solid gray;
  font-family: "LINESeedKR", sans-serif;
}